@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
h1, h2, h3, h4, h4, h6 {
    font-family: 'Raleway', sans-serif;
}

.brand-logo {
    font-family: 'Raleway', sans-serif;
    text-shadow: 4px 3px 13px rgba(60, 60, 60, 1);
}

.title {
    margin-top: 64px;
}

.pinned {
    top: 100px;
}

body {
    /* overflow: hidden */
}

p {
    text-align: justify;
}

.body-content {
    /* height: calc(100vh - 64px);
    overflow-y: scroll; */
}

.materialboxed:hover:not(.active) {
    opacity: 1;
}

.materialboxed {
    filter: contrast(.9);
}


/* .carousel {
    min-height: 400px;
} */

.carousel .indicators .indicator-item {
    height: 1.5rem;
    width: 1.5rem;
    opacity: .8;
    /* filter: drop-shadow(2px 2px 2px black); */
    box-shadow: 0px 0px 8px black;
}

.carousel .indicators .indicator-item.active {
    background: black !important;
    opacity: 1;
}

.parallax-container {
    margin-top: -64px;
    height: 564px;
}

nav {
    opacity: .85;
}


/* Blurred Header ***************************************************************** */


/* .blurred {
    filter: blur(.5em);
    background: white;    
}

body > div.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #000;
    z-index: 99;
    box-shadow: 0 0 .125em 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    max-height: 64px;
}

body > div.navbar-fixed::after {
    background: rgba(white, .5);
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}

body > div.navbar-fixed > nav {
    z-index: 999;
} */


/* Header ***************************************************************** */