/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');*/

h1,
h2,
h3,
h4,
h4,
h6 {
    text-align: center;
}

.brand-logo {
    /*font-family: 'Raleway', sans-serif;*/
    /* text-shadow: 4px 3px 13px rgba(60, 60, 60, 1); */
    font-weight: 300;
}

.title {
    margin-top: 64px;
}

.pinned {
    top: 100px;
}

body {
    /* overflow: hidden */
}

#root {
    overflow: hidden;
}

p {
    text-align: justify;
}

.body-content {
    /* height: calc(100vh - 64px);
    overflow-y: scroll; */
}

.materialboxed:hover:not(.active) {
    opacity: 1;
}

.materialboxed {
    filter: contrast(.9);
}


/* .carousel {
    min-height: 400px;
} */

.carousel .indicators .indicator-item {
    height: 1.5rem;
    width: 1.5rem;
    opacity: .8;
    /* filter: drop-shadow(2px 2px 2px black); */
    box-shadow: 0px 0px 8px black;
}

.carousel .indicators .indicator-item.active {
    background: black !important;
    opacity: 1;
}

.parallax-container {
    /* margin-top: -64px;
    height: 564px; */
}

#parallaxnav {
    height: 64px;
    z-index: 33;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    margin-top: -64px;
}

#parallaxnavimg {
    background: url("Projects/900px.jpg");
    /*margin-left: calc(0px - (1366px - 100vw)/2)*/
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 100vw auto;
}

#parallaxnavimgimg {
    width: 100%;
}

@keyframes example {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-fixed nav {
    /* opacity: .8; */
    width: calc(100% - 300px);
    animation-name: example;
    animation-duration: 2s;
}

.translucid {
    /* background-color: rgba(20, 20, 20, 0.05) !important; */
    background-color: transparent !important;
    transition: 1.5s;
}


/* Blurred Header ***************************************************************** */


/* .blurred {
    filter: blur(.5em);
    background: white;    
}

body > div.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #000;
    z-index: 99;
    box-shadow: 0 0 .125em 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    max-height: 64px;
}

body > div.navbar-fixed::after {
    background: rgba(white, .5);
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}

body > div.navbar-fixed > nav {
    z-index: 999;
} */


/* Header ***************************************************************** */

#app {
    margin-left: 300px;
}

#canvasHolder {
    /* opacity: .8; */
    /* animation-name: example;
    animation-duration: 2s; */
}

#canvasHolder {
    margin-left: -300px;
}

.anxmenu {
    display: none;
}

.side-nav .userView .circle {
    height: 154px;
    width: 164px;
    margin: auto;
}

.side-nav .userView>a {
    text-align: center;
    color: white;
}

.background>img {
    width: 150%;
    margin-left: -75px;
    /* margin-top: -15px; */
}

.parallax-container .parallax {
    z-index: 0;
}

.parallax-container .parallax img {
    display: block;
}

.parallax-container {
    width: calc(100vw - 300px);
    margin-left: -22%;
    height: 250px;
}

div.gallery-img {
    margin: 2px;
    /* border: 1px solid #ccc; */
    /* float: left; */
    display: table-cell;
    max-width: 250px;
    /* max-height: 270px;  */
}

div.gallery-img>.material-placeholder {
    /* width: 280px;*/
    /* height: 170px;  */
}

.flexAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flexAlign i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    /* text-align: center; */
    margin-right: .7rem;
}

@media only screen and (max-width: 992px) {
    .anxmenu {
        display: inherit;
    }
    #app {
        margin-left: 0;
    }
    .navbar-fixed nav {
        width: 100%;
    }
    #canvasHolder {
        margin-left: 0;
    }
    .parallax-container {
        width: calc(100vw);
        margin-left: -5vw;
        height: 250px;
    }
}